.hidden {
  display: none !important;
}

@mixin generic-button($w, $h) {
  background: none;
  border: none;
  padding: 0.25rem;
  margin: 0 0.5rem;
  width: $w;
  height: $h;
  z-index: 50;
  cursor: pointer;

  img {
    height: 100%;
    width: 100%;
  }
}

@mixin icon-button($h, $w) {
  @include generic-button($h, $w);
  &:hover {
    opacity: 0.5;
  }
}

// button {
//   background: none;
//   border: none;
//   margin: 0;
//   padding: 0;
// }
