@use "./style_guide.scss" as *;

.hidden {
  display: none !important;
}

@mixin generic-button($w, $h) {
  background: none;
  border: none;
  padding: 0.25rem;
  margin: 0 0.5rem;
  width: $w;
  height: $h;
  // z-index: 10; // TODO: check how to fix the z-index problem
  cursor: pointer;

  img {
    height: 100%;
    width: 100%;
  }
}

@mixin icon-button($h, $w) {
  @include generic-button($h, $w);
  &:hover {
    opacity: 0.5;
  }
}

@mixin generic-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 998;

  &.overlay__active {
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.6;
  }
}
