@use "./style_guide.scss" as *;
@use "./utility.scss" as *;

// Catalog Styles

.catalog {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
}

// Catalog Carousel Styles

.catalog--carousel {
  position: relative;
  overflow-x: hidden;

  @media (min-width: $screen-medium) {
    border-radius: 1.4rem;
    cursor: pointer;
  }

  $gap-size: 3rem; // gap between images
  .carousel--img-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-auto-flow: column;
    width: calc(var(--img-count, 1) * (100% + $gap-size)); // Controlled by JS
    gap: $gap-size;
    transition: transform 0.5s ease-in-out;
    transform: translateX(
      calc(var(--current-img, 0) * ((-100% - $gap-size) / var(--img-count, 1)))
    );

    .carousel--img {
      width: calc(100% - $gap-size/var(--img-count, 1));
      height: auto;
      @media (min-width: $screen-medium) {
        border-radius: 1.4rem;
      }
    }
  }

  .carousel--button {
    position: absolute;
    @include generic-button(2.8rem, 2.8rem);
    background-color: $light-grayish-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: calc(50% - 1.4rem);

    svg {
      transition: stroke 0.1s ease-in-out;
      stroke: $very-dark-blue;
    }

    &:hover {
      svg {
        transition: stroke 0.1s ease-in-out;
        stroke: $orange;
      }
    }
    &.left {
      left: 1rem;
      svg {
        margin-left: -2px;
      }
    }

    &.right {
      right: 1rem;
      svg {
        margin-left: 2px;
      }
    }
  }
}

// Thumbnail Styles

.catalog--thumbnail-group {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  margin-top: 1rem;
  gap: 1.4rem;
  overflow: hidden;
  overflow-x: scroll;
}

.thumbnail-group--thumbnail {
  @include generic-button(auto, 100%);
  padding: 0;
  margin: 0;

  img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }

  &:hover {
    img {
      filter: brightness(1.3) opacity(0.7) saturate(0.7);
    }
  }
}

.thumbnail__active {
  cursor: default;

  img {
    filter: brightness(1.3) opacity(0.7) saturate(0.7);
    border: 3px solid $orange;
  }
}

// Catalog Lightbox Styles

.lightbox-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  .lightbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    height: 100%;
    z-index: 999;

    .lightbox {
      position: relative;
      overflow: visible;
      top: 0;
      left: 0;
      max-width: max-content;
      cursor: default;

      .lightbox--images-mask {
        overflow-x: hidden;
      }

      .carousel--button {
        z-index: 1100;

        &.left {
          left: -1.8rem;
        }

        &.right {
          right: -1.8rem;
        }
      }
    }

    .catalog--thumbnail-group {
      width: 75%;
    }

    .lightbox--close {
      @include icon-button(2rem, 2rem);
      fill: $orange;
      align-self: flex-end;
    }
  }

  .lightbox--overlay {
    @include generic-overlay;
  }
}
