@use "sass:map";
@use "./style_guide.scss" as *;
@use "./utility.scss" as *;

// Header Styles

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $light-grayish-blue;
  padding: 1rem 0.7rem 1rem 0.7rem;

  @media (min-width: $screen-medium) {
    padding: 2rem 4.5rem 2rem 4.5rem;

    &::after {
      position: absolute;
      content: "";
      display: block;
      width: calc(100% - 9rem);
      height: 1px;
      top: 100%;
      background-color: $grayish-blue;
      margin: 0 auto;
    }
  }
}

.header--left {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (min-width: $screen-medium) {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: auto;
  }
}

.header--right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header--logo {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  padding: 0;

  @media (min-width: $screen-medium) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.header--button {
  @include icon-button(1.6rem, 1.6rem);

  @media (min-width: $screen-medium) {
    &.header--sidebar-button {
      display: none !important;
    }
  }
}

.header--profile {
  @include icon-button(2.3rem, 2.3rem);
}

// Sidebar Styles

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: $white;
  z-index: 999;
  transform: translateX(-100%);

  &.sidebar__active {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
  }

  &.sidebar__deactivate {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .sidebar--button {
    @include icon-button(1.3rem, 1.3rem);
    margin: 1rem 1rem 1rem 1rem;
  }

  ul {
    list-style-type: none;
    margin: 1.4rem 7.1rem 0 0;

    li {
      font-size: 1.2rem;
      font-weight: map.get($weights, "bold");
      cursor: pointer;
      margin: 0 0 1.1rem 1rem;
    }
  }

  @media (min-width: $screen-medium) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
    transition: none;
    transform: translateX(0);
    background: none;
    width: min-content;
    height: min-content;

    .sidebar--button {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 0 0 0 1.8rem;

      li {
        font-size: 0.9rem;
        font-weight: map.get($weights, "regular");
        color: $grayish-blue;
        margin: 0 1rem 0 0;
      }
    }
  }
}

.sidebar--overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: $black;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 998;

  &.overlay__active {
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.6;
  }

  @media (min-width: $screen-medium) {
    display: none;
  }
}
