@use "./_reset.scss" as *;
@use "./_utility.scss" as *;
@use "./_attribution.scss" as *;
@use "./_style_guide.scss" as *;

@mixin icon-button($h, $w) {
  background: none;
  border: none;
  padding: 0.25rem;
  margin: 0 0.5rem;
  height: $h;
  width: $w;
  cursor: pointer;

  img {
    height: 100%;
    width: 100%;
  }
}
// Header Styles

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding: 1rem 0.7rem 1rem 0.7rem;
}

.header--left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header--right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header--logo {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  padding: 0;
}

.header--button {
  @include icon-button(1.6rem, 1.6rem);
}

.header--profile {
  @include icon-button(2.3rem, 2.3rem);
}

// Sidebar Styles

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: orange;
  border: 1px solid $black;

  ul {
    list-style-type: none;
  }
}

// Card Styles

// Card Body Styles

// Card Carousel Styles

.carousel {
  overflow-x: hidden;
}
.carousel--img-container {
  display: flex;
  width: 100% * 4;
  height: auto;
  flex-direction: row;
}

.carousel--img {
  width: 100%;
  height: auto;
}
